In [9]:
import requests
import re
import textract
import tabula
import pandas as pd

In [2]:
multiplier_path = "/Users/kai/repositories/ynab-importer/multiplier_jul2020.csv"
livefresh_path = "/Users/kai/repositories/ynab-importer/livefresh.pdf"

In [3]:
header_pattern = "Transaction Date"

In [4]:
text = textract.process(livefresh_path)

In [13]:
with open('extract_test.txt', 'w+') as fopen:
    fopen.write(text.decode('utf-8'))

In [19]:
# Note the left, top, height, and width parameters and calculate the following:

#     y1 = top
#     x1 = left
#     y2 = top + height
#     x2 = left + width

df = tabula.read_pdf(livefresh_path, pages=[1], area=(431.57, 62.15, 431.57+317.81, 62.15+471.31))

In [20]:
type(df)

list

In [21]:
df

[    13 JUN                  SHOPEE - SINGAPORE  Unnamed: 0  \
 0   14 JUN               NTUC FP-TELOK BLANGAH         NaN
 1   14 JUN      YOU NEED A BUDGET801-6109169UT         NaN
 2      NaN                  U. S. DOLLAR 83.99         NaN
 3   14 JUN                           AMAZON SG         NaN
 4   14 JUN                           AMAZON SG         NaN
 5   18 JUN  BOOKDEPOSITORY.COM441452307905  GB         NaN
 6   18 JUN                  SHOPEE - SINGAPORE         NaN
 7   19 JUN                 CUTTOUR HAIR STUDIO         NaN
 8   23 JUN                       AMAZON RETAIL         NaN
 9   23 JUN                  SHOPEE - SINGAPORE         NaN
 10  23 JUN                  SHOPEE - SINGAPORE         NaN
 11     NaN                                 NaN         NaN
 12  23 JUN                  SHOPEE - SINGAPORE         NaN
 13  24 JUN                    BUS/MRT 36794241         NaN
 14  26 JUN             STEAMGAMES.COMSEATTLEDE         NaN
 15  30 JUN                  SHOPEE - SINGAPORE         NaN
 16  02 JUL              LIBERTY WIRELESS PTE L         NaN
 17  03 JUL                COMFORT/CITYCAB TAXI         NaN
 18  03 JUL              SINGAPORE POLICE FORCE         NaN
 19  03 JUL                  SHOPEE - SINGAPORE         NaN
 20  05 JUL              OMISESG*CDG DRIVINGCEN         NaN
 21  07 JUL              AMZNPRIMESG MEMBERSHIP         NaN
 22  11 JUL                COMFORT/CITYCAB TAXI         NaN

                  Unnamed: 1   99.00
 0                       NaN    6.50
 1                       NaN  121.29
 2                       NaN     NaN
 3                       NaN   22.46
 4                       NaN   45.91
 5                       NaN   16.40
 6                       NaN    1.34
 7                       NaN  127.00
 8                       NaN    8.45
 9                       NaN    5.22
 10                      NaN    1.39
 11  Co. Reg. No. 196800306E     NaN
 12                      NaN    9.74
 13                      NaN    2.34
 14                      NaN   26.06
 15                      NaN   13.93
 16                      NaN   18.89
 17                      NaN   10.90
 18                      NaN   25.00
 19                      NaN    9.61
 20                      NaN  181.20
 21                      NaN    2.99
 22                      NaN   15.28  ]